@import "tailwindcss";


@theme {
  --color-primary: #D90102;
  --color-primary-hover: #D90102;

  --color-secondary: #2563eb;
  --color-text: #010101;
  --color-muted: #6b7280;
  --color-background: #ffffff;
}
